@import "tailwindcss";

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

button {
  box-shadow: 2px 5px 2px #f5f5fc; /* 3D effect */
  border: none;
}
